:root {
    --black-color: #101010;
    --medium-black-color: #232323;
    --gray-color: #868686;
    --light-gray-color: #F3F3F3;
    --white-color: #FFFFFF;
    --green-color: #9EFFBF;
    --purple-color: #7941A7;
    --lilac-color: #E2BEFF;
    --blue-color: #1059C8;
}

html, body {
    min-height: 100%;
    color: var(--black-color);
}